doctype
html
	head
		meta(charset='utf-8')
		link(href="index.css", rel="stylesheet", type="text/css")
		title dominion_myline
		script(src="client.js", charset="utf-8")
	body
		#stage
			#infos
				#ack_place
					input(type="button" value="ack" id="ackbutton")
					input(type="text" value="2" id="ackform")
				#hoverView
				#logView
				#discardsView
			#field_playerinfo_hands
				#field
				#button_playerinfo
					#playerinfo
					input(type="button" value="END" id="passbutton")
					#optionbuttons
				#hands